* {
    margin: 0px;
    padding: 10px;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(164, 226, 255);
}

header{
    text-align: center;
}

.titulo_inicial{
    background-color: white;
    color: rgb(0, 2, 119);
    border-radius: 10px;
    border-style: outset;
    border-color: rgb(164, 226, 255);
}

body{
    background: linear-gradient(to bottom, rgb(0, 13, 73), rgb(0, 41, 80));
    text-align: center;
    min-height: 100vh;
}

.fotos{
    display: inline-block;
    position: relative;
}

.fotos img{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.titulos_imagens{
    background-color: white;
    color: rgb(0, 2, 119);
    display: inline-block;
    border-radius: 10px;
    border-style: outset;
    border-color: rgb(164, 226, 255);
}

.titulos_imagens:hover{
    text-decoration-line: underline;
    border-style: inset;
}

.titulos_imagens:hover + img{
    border-style: double;
    border-radius: 10px;
    display: block;
    width: 850px;
    height: 500px;
    z-index: +1;
}

.rodapé{
    position: absolute;
    bottom: 0%;
    right: 40%;
    left: 40%;
}